.title
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 242, 240);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    padding: 5px 0;
}
.category 
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.category p{
    font-size: 14px;
    margin: 0;
}
ul{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0 20px;
}
ul li
{
    list-style: none;
    font-weight: lighter;
    font-size: 13px;
    cursor: pointer;
}