
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f7f8f9;
    padding: 15px 80px;
    font-family: Arial, sans-serif;
    color: #002f34;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px
}


.footer_cat {
    flex: 1;
    min-width: 140px;
    margin-right: 20px;
}


.footer_cat h5 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
}


.footer_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_list li {
    margin-bottom: 4px;
    font-size: 11px;
    color: #666;
    cursor: pointer;
}

.footer_list li:hover {
    color: #002f34;
}

.social_meida {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.social_meida img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

